node_modules
bower_components
__pycache__
*.pyc
bin
obj
*.db
*.sqlite3
.vscode
dist
polls-env
migrations
# Env vars for deploying
deploy.env
venv/

firebasecreds.json

*.pyc
/api/*.sqlite3
.DS_Store
.env
*/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/
.eslintcache
*.sublime-workspace
erd.png

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# Build
frontend/build/
api/frontend/build/
api/static
api/frontend_build/

# data
*.dump

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json
/jquery-webpack-stats.json

# Sass
.sass-cache
*.map

# General
/alicornreact-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

.db/
.log

frontend/.vscode
frontend/.sentryclirc